* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'IM Fell French Canon', serif;
}
nav, button, a {
  font-family: 'Julius Sans One', sans-serif;
}
.container-fluid {
  padding: 0;
}
.navbar-brand {
  padding: 5px;
}
.logo-image {
  height: 100%;
  width: auto;
}
.my-nav {
  margin: 0;
  background-color: #fff;
  padding: 0 10px;
}
.my-nav .navbar-nav > .active {
}
.my-nav .navbar-nav > .active > a,
.my-nav .navbar-nav > .active > a:hover,
.my-nav .navbar-nav > .active > a:focus {

}
.login-container {
  display: flex;
  height: 92vh;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: url(../images/login-background.jpg) center center no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 80%);
}
.well-header {
  position: relative;
}
.well-header a {
  position: absolute;
  top: -15px;
  right: -5px;
  color: hsla(360, 80%, 40%, 0.5);
}
.well-header a:hover {
  color: hsl(360, 80%, 40%);
}
.well-body {
  margin: 40px 0;
}
.login-well {
  text-align: center;
  background-color: hsla(0, 0%, 20%, 0.75);
  border: none;
}
.login-well footer {
  text-align: right;
}
