<nav class="navbar navbar-default">
  <!--navigator.geolocation.getlocation, check that out later -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-click=setHomeStatus()>Saree Swap</a>
    </div>
    <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
      <ul class="nav navbar-nav">
        <!--Home Navbar  -->
        <li ng-show="home" ng-click="setBorrowStatus()" ng-class="getClass('/browse')" class=""><a href="#/browse">Borrow</a></li>
        <li ng-show="home" ng-click="setLendStatus()" ng-class="getClass('/inventory')" class=""><a href="#/inventory">Lend</a></li>
        <!--Borrower Navbar  -->
        <li ng-show="borrower" ng-click="setBorrowStatus()" ng-class="getClass('/browse')" class=""><a href="#/browse">Browse</a></li>
          <!-- If you have time, insert men's, women's, children's categories -->
        <li ng-show="borrower" ng-class="getClass('/view_orders')" class=""><a href="#/view_orders">Orders</a></li>
        <!--Lender Navbar  -->
        <li ng-show="lender" ng-click="setLendStatus()" ng-class="getClass('/inventory')" class=""><a href="#/inventory">Inventory</a></li>
        <li ng-show="lender" ng-class="getClass('/view_requests')" class=""><a href="#/view_requests">Requests</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!loggedIn" ng-class="getClass('/login')"><a href="/login">Login</a></li>
        <li ng-show="loggedIn" ng-class="getClass('/logout')"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
