<carousel-directive class="browse-slides" slides="slides"></carousel-directive>

    <section class="row browse-window">
      <header class="col-sm-3">
        <form class="form-group">
          <input class="form-control" type="text" ng-model="searchTerm" placeholder="Search Inventory">
          <label class="sr-only" for="gender">Select Category</label><br>
          <select class="form-control" id="gender" ng-model="filterObject.category">
            <option value="">--Select Category--</option>
            <option value="women" selected>Women</option>
            <option value="men">Men</option>
            <option value="children">Children</option>
          </select>
        </form>
      </header>
      <ui-view>
        <item-display-directive items="inventory"></item-display-directive>
      </ui-view>

    </section>
