<br>
<br>
<section class="row">
  <header class="col-sm-3">
    <form class="form-group">
      <input class="form-control" type="text" ng-model="searchTerm" placeholder="Search Inventory">
      <label class="sr-only" for="gender">Select Category</label><br>
      <select class="form-control" id="gender" ng-model="filterObject.category">
        <option value="">--Select Category--</option>
        <option value="women" selected>Women</option>
        <option value="men">Men</option>
        <option value="children">Children</option>
      </select>
    </form>
  </header>

  <div class="container">
    <div class="col-sm-9">
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" ng-repeat="item in inventory | filter: filterObject | filter: searchTerm">
        <img class="browse-image" ng-src="{{item.url}}" alt="{{item.description}}">
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</section>
