<div class="container">
  <div class="col-sm-9">
    <div class="col-xs-6 col-sm-5 col-sm-offset-2 info-image-container">
      <img class="info-image" ng-src="{{item.url}}" alt="{{item.title}}">
    </div>
    <div class="col-xs-6 col-sm-5">
      <h3>{{item.title}}</h3>
      <h2><small>Size: {{item.size}}</small></h2>
      <p class="more-info">{{item.description}}</p>

      <button ng-click="orderItem(item)" class="btn btn-primary">Request Item</button>

      <button class="btn btn-primary" ui-sref="browse">Back to Shopping</button>
    </div>
  </div>
</div>
