<carousel-directive slides="slides"></carousel-directive>
<br>
<main class="container">
  <div class="row text-center">
    <section class="col-sm-6 borrow-text">
      <h3>Love Indian Fashion but Hate the Prices?</h3>
      <h2><small><a ui-sref="browse">Borrow or Rent One of Ours</a></small></h2>
      <h4>Here's How It Works:</h4>
      <div class="container">
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-search"></span><br>
          <h5>Browse</h5>
        </div>
        <div class="col-xs-4 col-sm-2  how-to">
          <span class="glyphicon glyphicon-shopping-cart"></span><br>
          <h5>Order</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-glass"></span><br>
          <h5>Enjoy</h5>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 more-info">
        <p>Browse our lenders' ample selections of beautiful saris, kurtas, lehangas, or Punjabi dresses. Select just the right item for you and enjoy your event without filing for bankruptcy.</p>
        <br>
        <p>Some of our lenders charge service fees, some rent their dresses, and some will sell them to you, so you can pass them on after your event. View each item for more details.</p>

      </div>
      <br><br>
    </section>
    <section class="col-sm-6">
      <h3>Got a Closet Full of Saris?</h3>
      <h2><small><a ui-sref="inventory">Lend or Rent Them Out</a></small></h2>
      <h4>Here's How It Works:</h4>
      <div class="container">
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-list-alt"></span><br>
          <h5>Post</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-envelope"></span><br>
          <h5>Mail</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-gift"></span><br>
          <h5>Enjoy</h5>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 more-info">
        <p>Browse our lenders' ample selections of beautiful saris, kurtas, lehangas, or Punjabi dresses. Select just the right item for you and enjoy your event without filing for bankruptcy.</p>
        <br>
        <p>Some of our lenders charge service fees, some rent their dresses, and some will sell them to you, so you can pass them on after your event. View each item for more details.</p>
      </div>
      <br><br>

    </section>

  </div>
  <div class="col-sm-3"></div>
</main>
