<carousel-directive slides="slides"></carousel-directive>
<br>
<main class="container">
  <div class="row text-center">
    <section class="col-sm-6 borrow-text">
      <h3>Love Indian Fashion but Hate the Prices?</h3>
      <h2><small><a ui-sref="browse">Borrow or Rent One of Ours</a></small></h2>
      <h4>Here's How It Works:</h4>
      <div class="container">
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-search"></span><br>
          <h5>Browse</h5>
        </div>
        <div class="col-xs-4 col-sm-2  how-to">
          <span class="glyphicon glyphicon-shopping-cart"></span><br>
          <h5>Order</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-glass"></span><br>
          <h5>Enjoy</h5>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 more-info">
        <p>Browse our lenders' selections of fine saris, kurtas, lehangas, or Punjabi dresses. Select just the right item and look beautiful without filing for bankruptcy. You'll pay a small service fee for the delivery, but you'll have the perfect sari for your event, and best of all, you can pass it on.</p>
      </div>
      <div class="row">
        <a class="btn btn-primary" ui-sref="browse">Start Borrowing</a>
      </div>

    </section>
    <section class="col-sm-6">
      <h3>Got a Closet Full of Saris?</h3>
      <h2><small><a ui-sref="inventory">Lend or Rent Them Out</a></small></h2>
      <h4>Here's How It Works:</h4>
      <div class="container">
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-list-alt"></span><br>
          <h5>Post</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-envelope"></span><br>
          <h5>Mail</h5>
        </div>
        <div class="col-xs-4 col-sm-2 how-to">
          <span class="glyphicon glyphicon-gift"></span><br>
          <h5>Share</h5>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 more-info">
        <p>If you've got too many saris cluttering your closet, it's time to share your fashion with others. Maybe you wore that beautiful sari to one wedding, and you'll never put it on again. Why let it gather dust? Pass the sari on to a borrower in our community, and find your next sari from another lender.</p>
      </div>
      <div class="row">
        <a class="btn btn-primary" ui-sref="inventory">Start Lending</a>
      </div>

    </section>

  </div>
  <div class="col-sm-3"></div>
</main>
